
nav{
margin: 10px 0px;
text-align: center;
margin: 20px 0px;
padding: 20px 0px;
background-color: blueviolet;
border-radius: 10px;
}
nav a{
text-decoration: none;
padding-right: 60px; 
color: yellow;
background-color: blueviolet;
font-size: 25px;
}
body{
background-color: aquamarine;
}
h1{
font-size: 40px;
color: blue;
background-color: yellow;
border-radius: 10px;
text-align: center;
}
header p{
color: yellow;
background-color: blue;
border-radius: 10px;
text-align: center;
font-size: 25px;
}
.logo{
color: blue;
background-color: yellow;
border-radius: 10px;
text-align: center;
font-size: 25px;
}
.loga{
color: yellow;
background-color: blue;
border-radius: 10px;
text-align: center;
font-size: 25px;
}
.logu{
color: blue;
background-color: yellow;
border-radius: 10px;
text-align: center;
font-size: 25px;
}
.logi{
color: yellow;
background-color: blue;
border-radius: 10px;
text-align: center;
font-size: 25px;
}
.i{
text-decoration: none;
padding-right: 60px; 
color: blueviolet;
background-color: yellow;
font-size: 25px;
  padding:10px;
  border-radius:10px
}
.u{
text-decoration: none;
padding-right: 60px; 
color: yellow;
background-color: blueviolet;
font-size: 25px;
}
.a{
text-decoration: none;
padding-right: 60px; 
color: blueviolet;
background-color: yellow;
font-size: 25px;
    padding:10px;
  border-radius:10px
}
.o{
    padding:10px;
  border-radius:10px
text-decoration: none;
padding-right: 60px; 
color: yellow;
background-color: blueviolet;
font-size: 25px;
}
footer{
background-color: yellow;
padding: 10px;
border-radius: 10px;
}
footer p{
background-color: blueviolet;
color: blue;
font-size: 25px;
padding: 5px;
border-radius: 10px;
}

